In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
#read in the csv file
airbnbdf = pd.read_csv('airbnbNYC.csv')
airbnbdf.sample(5)

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,150.0,Manhattan,A Perfect Match! The NYC All-Rounder Apartment,Entire apartment,210.0,Suzanne,36.0,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",4.0,'1 bedroom','2 beds','1 bath',1.0,2.0,1.0
300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20.0,Manhattan,Modern Condo in Midtown,Private room in apartment,159.0,Welcome To My Place,311.0,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",4.0,'1 bedroom','1 bed','1 bath',1.0,1.0,1.0
588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#verify the datatypes
airbnbdf.dtypes

Unnamed: 0       float64
city              object
house_title       object
house_type        object
price            float64
owner_name        object
no_of_reviews    float64
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest      float64
house_size        object
no_of_beds        object
no_of_baths       object
house            float64
beds             float64
bath             float64
dtype: object

In [6]:
airbnbdf.price = airbnbdf.price.astype(str)
airbnbdf.no_of_reviews = airbnbdf.no_of_reviews.astype(str)

In [7]:
def remove_special_chars(val):
    new_val = re.findall('[0-9]',val)
    return "".join(new_val)

airbnbdf.price = airbnbdf.price.apply(remove_special_chars)
print(airbnbdf.price.head(5))

0     910
1     870
2    1650
3     880
4     990
Name: price, dtype: object

In [8]:

airbnbdf.no_of_reviews = airbnbdf.no_of_reviews.apply(remove_special_chars)
print(airbnbdf.no_of_reviews.head(5))

0    2790
1    1370
2    2720
3    1180
4    1620
Name: no_of_reviews, dtype: object

In [9]:
def split_to_list(str_val):
    return str_val.split(",")
    

airbnbdf['occupancy_lst'] = airbnbdf.occupancy.apply(split_to_list)

airbnbdf.occupancy_lst.sample(5)

AttributeError: 'float' object has no attribute 'split'

In [10]:
len(airbnbdf)

airbnbdf.occupancy_lst[0][0]

'['

In [11]:
airbnbdf = airbnbdf.assign(no_of_guest=airbnbdf.price.mean(), house_size=airbnbdf.price.mean(), no_of_beds = airbnbdf.price.mean(), no_of_baths=airbnbdf.price.mean())

In [12]:
# one time thing, however this is not a nice way to do this
# I learnt using assign function would do it, which I have incorporated in my code later, 
#for eg: airbnbdf.assign(beds=airbnbdf.no_of_beds.apply(remove_chars))

for i in range(len(airbnbdf)):
    try:

        airbnbdf.no_of_guest[i] = airbnbdf.occupancy_lst[i][0]
        airbnbdf.house_size[i]  = airbnbdf.occupancy_lst[i][1]
        airbnbdf.no_of_beds[i]  = airbnbdf.occupancy_lst[i][2]
        airbnbdf.no_of_baths[i]  = airbnbdf.occupancy_lst[i][3]
        
    except:
        continue

/Users/raqhaque/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/raqhaque/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/raqhaque/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/raqhaque/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/raqhaque/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [14]:
print(airbnbdf.dtypes)
airbnbdf.head(30)

Unnamed: 0       float64
city              object
house_title       object
house_type        object
price             object
owner_name        object
no_of_reviews     object
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest       object
house_size        object
no_of_beds        object
no_of_baths       object
house            float64
beds             float64
bath             float64
dtype: object

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
0,0.0,Manhattan,A Beautiful Brownstone Apartment,Entire apartment,910,Michael,2790,5.0,"['4 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '3 beds'"", "" '1...",[,"""",[,',0.5,3.0,1.0
1,1.0,Manhattan,YOUR DREAM SUITE IN MANHATTAN,Private room in apartment,870,Marilyn,1370,4.0,"['4 guests', '1 bedroom', '2 beds', '1 private...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
2,2.0,Manhattan,Manhattan's Best Deal!,Entire apartment,1650,Adrianne,2720,4.5,"['6 guests', '2 bedrooms', '5 beds', '1 bath',...","[""['6 guests'"", "" '2 bedrooms'"", "" '5 beds'"", ...",[,"""",[,',2.0,5.0,1.0
3,3.0,Manhattan,Spacious room near Times Square,Private room in apartment,880,Stephanie,1180,4.5,"['4 guests', '1 bedroom', '1 bed', '1 shared b...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',1.0,1.0,1.0
4,4.0,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,990,Theresa,1620,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
5,5.0,Manhattan,Modern & Trendy 2-Bedroom 1 Bath Lower Manhattan,Entire apartment,900,Alex,1170,5.0,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',2.0,3.0,1.0
6,6.0,Manhattan,LARGE 2 Bedroom Midtown Manhattan Apartment!,Entire apartment,1240,Ethan,40,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['4 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',2.0,2.0,1.0
7,7.0,Manhattan,Massive DUPLEX 2BR & 2BATH East Village,Entire apartment,1980,Seith,3400,4.0,"['8 guests', '2 bedrooms', '4 beds', '2 baths'...","[""['8 guests'"", "" '2 bedrooms'"", "" '4 beds'"", ...",[,"""",[,',2.0,4.0,2.0
8,8.0,Manhattan,Luxury Central Park Apartment close to everything,Entire apartment,1990,Bozhena,1250,4.5,"['4 guests', '1 bedroom', '4 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '4 beds'"", ""...",[,"""",[,',1.0,4.0,1.0
9,9.0,Manhattan,GREAT AND STYLISH APARTMENT! AMAZING LOCATION!,Entire apartment,1100,M. Alejandro,1000,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
10,10.0,Manhattan,Big renovated studio up to 4 people in Manhattan,Entire apartment,950,Gloria,200,4.5,"['4 guests', 'Studio', '1 bed', '1 bath', '󰀄\n...","[""['4 guests'"", "" 'Studio'"", "" '1 bed'"", "" '1 ...",[,"""",[,',0.5,1.0,1.0
11,11.0,Manhattan,GORGEOUS 1 BDR PRIME HELL'S KITCHEN,Entire apartment,1340,Konstantin,2610,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
12,12.0,Manhattan,Spacious Room in East Village/NoHo,Private room in apartment,1290,Sne,3810,5.0,"['3 guests', '1 bedroom', '1 bed', '1 shared b...","[""['3 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',1.0,1.0,1.0
13,13.0,Manhattan,Manhattan Lux Loft.Like.Love.Lots.Look !,Private room in loft,2710,Carol,5260,5.0,"['5 guests', '1 bedroom', '3 beds', '1 private...","[""['5 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',1.0,3.0,1.0
14,14.0,Manhattan,Cozy Hell's Kitchen/ Time Square Apartment- 2 BRM,Entire apartment,1450,Nivea And Jill,1220,4.5,"['8 guests', '2 bedrooms', '4 beds', '1 bath',...","[""['8 guests'"", "" '2 bedrooms'"", "" '4 beds'"", ...",[,"""",[,',2.0,4.0,1.0
15,15.0,Manhattan,"2 Blocks from Times Square, Centrally Located!",Entire apartment,1750,Astor,1550,4.5,"['5 guests', 'Studio', '4 beds', '1 bath', '󰀄\...","[""['5 guests'"", "" 'Studio'"", "" '4 beds'"", "" '1...",[,"""",[,',0.5,4.0,1.0
16,16.0,Manhattan,Unique Loft GREAT location,Entire apartment,1890,Lee,1660,4.5,"['6 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[""['6 guests'"", "" 'Studio'"", "" '3 beds'"", "" '1...",[,"""",[,',0.5,3.0,1.0
17,17.0,Manhattan,â Unique two bedroom on 2nd Avenueâ,Entire apartment,1500,Zev,2810,4.5,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',2.0,3.0,1.0
18,18.0,Manhattan,Best of the East Village Cozy 2 Bedroom,Entire apartment,1000,Katya,2030,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',2.0,2.0,1.0
19,19.0,Manhattan,A Unique studio apartment,Entire apartment,1400,Michael,1950,5.0,"['3 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',1.0,3.0,1.0
20,20.0,Manhattan,Modern Condo in Midtown,Private room in apartment,1590,Welcome To My Place,3110,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',1.0,1.0,1.0
21,21.0,Manhattan,Cozy Apartment Near Times Square,Entire apartment,1350,Mike,2250,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
22,22.0,Manhattan,Amazingly well located 2 bedroom/2 bath apartment,Entire apartment,1250,John,390,4.5,"['6 guests', '2 bedrooms', '3 beds', '2 baths'...","[""['6 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',2.0,3.0,2.0
23,23.0,Manhattan,RENOVATED/BEST LOCATION in MIDTOWN,Private room in townhouse,1900,Marta,1620,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
24,24.0,Manhattan,Near Times Square and Hell's Kitchen,Private room in apartment,1400,Claude,3430,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
25,25.0,Manhattan,Fun Spacious Midtown Apt near U.N. & Central Park,Entire apartment,1750,Christian,1290,5.0,"['5 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['5 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
26,26.0,Manhattan,Elegant Private Apartment in a Historic Browns...,Private room in townhouse,1080,Jacob,1040,5.0,"['4 guests', 'Studio', '2 beds', '1 private ba...","[""['4 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',0.5,2.0,1.0
27,27.0,Manhattan,Cozy Apartment Next To Central Park,Entire apartment,1500,Lenny,1030,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',2.0,2.0,1.0
28,28.0,Manhattan,"Manhattan, Room w/ 2 Beds Near Central Park &M...",Private room in house,990,Joo,1430,4.5,"['4 guests', '1 bedroom', '2 beds', '1 shared ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',1.0,2.0,1.0
29,29.0,Manhattan,Miltons place,Entire apartment,900,Milton,80,5.0,"['4 guests', 'Studio', '0 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '0 beds'"", "" '1...",[,"""",[,',0.5,0.0,1.0

In [16]:
airbnbdf.no_of_guest = airbnbdf.no_of_guest.apply(remove_special_chars)
print(airbnbdf.no_of_guest.head(5))

TypeError: expected string or bytes-like object

In [17]:
print(sum(airbnbdf.house_size.isna()))

print(sum(airbnbdf.house_size.isnull()))

0
0

In [18]:
def convert_chars(val):
   ##studio is tagged as 0.5 bedroom
    if val == " 'Studio'":
        new_val = '0.5'
    else:
        new_val = re.findall('[0-9]',val)
    
    return "".join(new_val)

airbnbdf.house_size = airbnbdf.house_size.astype(str)
airbnbdf = airbnbdf.assign(house=airbnbdf.house_size.apply(convert_chars))

airbnbdf.sample(14)

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
506,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
375,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
405,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
209,216.0,Manhattan,Amazing East Village Xtra Large Studio Apartment!,Entire apartment,2050,Joseph,1000,4.5,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,2.0,1.0
160,164.0,Manhattan,Harlem Style Spacious and Sunny,Entire apartment,1540,M. Elizabeth,1170,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,2.0,1.0
125,127.0,Manhattan,TriBeCa 2500 Sq Ft w/ Priv Elevator,Entire loft,5000,Chester & Jon,4310,5.0,"['12 guests', '3 bedrooms', '3 beds', '2 baths...","[""['12 guests'"", "" '3 bedrooms'"", "" '3 beds'"",...",[,"""",[,',,3.0,2.0
399,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
592,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
80,81.0,Manhattan,SPACIOUS SUNNY STUDIO 5MIN TIMES SQ,Entire apartment,1750,Lola,1700,4.5,"['3 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[""['3 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,2.0,1.0
530,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
136,140.0,Manhattan,Perfect Times Square 1 bedroom,Entire apartment,1220,James,1180,5.0,"['3 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['3 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,1.0,1.0
434,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
380,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN
535,NaN,NaN,NaN,NaN,,NaN,,NaN,NaN,NaN,inf,inf,inf,inf,,NaN,NaN

In [19]:
def remove_chars(val):
    new_val = re.findall('[0-9.]+',val)
    return "".join(new_val)


airbnbdf.no_of_beds = airbnbdf.no_of_beds.astype(str)
airbnbdf.no_of_baths = airbnbdf.no_of_baths.astype(str)

airbnbdf = airbnbdf.assign(beds=airbnbdf.no_of_beds.apply(remove_chars))
airbnbdf = airbnbdf.assign(bath=airbnbdf.no_of_baths.apply(remove_chars))
airbnbdf.sample(4)

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
121,123.0,Manhattan,Large Private Suite in the Heart of Midtown,Room in hotel,1200,Stewart Hotel,30,4.0,"['4 guests', '1 bedroom', '1 bed', '1 shared b...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
280,287.0,Manhattan,Upper East Chic 1BR Apartment Near Central Park,Entire apartment,1690,Song,300,4.5,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
41,41.0,Manhattan,Sunny bedroom with Park views in East Village!,Private room in apartment,1220,Alfredo,1770,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
72,73.0,Manhattan,BEST LOCATION in MANHATTAN!,Entire apartment,1640,Regina Kira,1860,5.0,"['3 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['3 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,

In [20]:
airbnbdf.dtypes

Unnamed: 0       float64
city              object
house_title       object
house_type        object
price             object
owner_name        object
no_of_reviews     object
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest       object
house_size        object
no_of_beds        object
no_of_baths       object
house             object
beds              object
bath              object
dtype: object

In [21]:
(airbnbdf == "none").any() #check for any none values

Unnamed: 0       False
city             False
house_title      False
house_type       False
price            False
owner_name       False
no_of_reviews    False
rating           False
occupancy        False
occupancy_lst    False
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [22]:
(airbnbdf.isnull()).any()

Unnamed: 0        True
city              True
house_title       True
house_type        True
price            False
owner_name        True
no_of_reviews    False
rating            True
occupancy         True
occupancy_lst     True
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [23]:
(airbnbdf.isna()).any()

Unnamed: 0        True
city              True
house_title       True
house_type        True
price            False
owner_name        True
no_of_reviews    False
rating            True
occupancy         True
occupancy_lst     True
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [24]:
print(len(airbnbdf))
airbnbdf.isna().sum().sum() #check num of Nans

598

2400

In [25]:
airbnbdf.dropna() #check

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
0,0.0,Manhattan,A Beautiful Brownstone Apartment,Entire apartment,910,Michael,2790,5.0,"['4 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '3 beds'"", "" '1...",[,"""",[,',,,
1,1.0,Manhattan,YOUR DREAM SUITE IN MANHATTAN,Private room in apartment,870,Marilyn,1370,4.0,"['4 guests', '1 bedroom', '2 beds', '1 private...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
2,2.0,Manhattan,Manhattan's Best Deal!,Entire apartment,1650,Adrianne,2720,4.5,"['6 guests', '2 bedrooms', '5 beds', '1 bath',...","[""['6 guests'"", "" '2 bedrooms'"", "" '5 beds'"", ...",[,"""",[,',,,
3,3.0,Manhattan,Spacious room near Times Square,Private room in apartment,880,Stephanie,1180,4.5,"['4 guests', '1 bedroom', '1 bed', '1 shared b...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
4,4.0,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,990,Theresa,1620,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
5,5.0,Manhattan,Modern & Trendy 2-Bedroom 1 Bath Lower Manhattan,Entire apartment,900,Alex,1170,5.0,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
6,6.0,Manhattan,LARGE 2 Bedroom Midtown Manhattan Apartment!,Entire apartment,1240,Ethan,40,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['4 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
7,7.0,Manhattan,Massive DUPLEX 2BR & 2BATH East Village,Entire apartment,1980,Seith,3400,4.0,"['8 guests', '2 bedrooms', '4 beds', '2 baths'...","[""['8 guests'"", "" '2 bedrooms'"", "" '4 beds'"", ...",[,"""",[,',,,
8,8.0,Manhattan,Luxury Central Park Apartment close to everything,Entire apartment,1990,Bozhena,1250,4.5,"['4 guests', '1 bedroom', '4 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '4 beds'"", ""...",[,"""",[,',,,
9,9.0,Manhattan,GREAT AND STYLISH APARTMENT! AMAZING LOCATION!,Entire apartment,1100,M. Alejandro,1000,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
10,10.0,Manhattan,Big renovated studio up to 4 people in Manhattan,Entire apartment,950,Gloria,200,4.5,"['4 guests', 'Studio', '1 bed', '1 bath', '󰀄\n...","[""['4 guests'"", "" 'Studio'"", "" '1 bed'"", "" '1 ...",[,"""",[,',,,
11,11.0,Manhattan,GORGEOUS 1 BDR PRIME HELL'S KITCHEN,Entire apartment,1340,Konstantin,2610,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
12,12.0,Manhattan,Spacious Room in East Village/NoHo,Private room in apartment,1290,Sne,3810,5.0,"['3 guests', '1 bedroom', '1 bed', '1 shared b...","[""['3 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
13,13.0,Manhattan,Manhattan Lux Loft.Like.Love.Lots.Look !,Private room in loft,2710,Carol,5260,5.0,"['5 guests', '1 bedroom', '3 beds', '1 private...","[""['5 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
14,14.0,Manhattan,Cozy Hell's Kitchen/ Time Square Apartment- 2 BRM,Entire apartment,1450,Nivea And Jill,1220,4.5,"['8 guests', '2 bedrooms', '4 beds', '1 bath',...","[""['8 guests'"", "" '2 bedrooms'"", "" '4 beds'"", ...",[,"""",[,',,,
15,15.0,Manhattan,"2 Blocks from Times Square, Centrally Located!",Entire apartment,1750,Astor,1550,4.5,"['5 guests', 'Studio', '4 beds', '1 bath', '󰀄\...","[""['5 guests'"", "" 'Studio'"", "" '4 beds'"", "" '1...",[,"""",[,',,,
16,16.0,Manhattan,Unique Loft GREAT location,Entire apartment,1890,Lee,1660,4.5,"['6 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[""['6 guests'"", "" 'Studio'"", "" '3 beds'"", "" '1...",[,"""",[,',,,
17,17.0,Manhattan,â Unique two bedroom on 2nd Avenueâ,Entire apartment,1500,Zev,2810,4.5,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
18,18.0,Manhattan,Best of the East Village Cozy 2 Bedroom,Entire apartment,1000,Katya,2030,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
19,19.0,Manhattan,A Unique studio apartment,Entire apartment,1400,Michael,1950,5.0,"['3 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
20,20.0,Manhattan,Modern Condo in Midtown,Private room in apartment,1590,Welcome To My Place,3110,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
21,21.0,Manhattan,Cozy Apartment Near Times Square,Entire apartment,1350,Mike,2250,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
22,22.0,Manhattan,Amazingly well located 2 bedroom/2 bath apartment,Entire apartment,1250,John,390,4.5,"['6 guests', '2 bedrooms', '3 beds', '2 baths'...","[""['6 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
23,23.0,Manhattan,RENOVATED/BEST LOCATION in MIDTOWN,Private room in townhouse,1900,Marta,1620,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
24,24.0,Manhattan,Near Times Square and Hell's Kitchen,Private room in apartment,1400,Claude,3430,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
25,25.0,Manhattan,Fun Spacious Midtown Apt near U.N. & Central Park,Entire apartment,1750,Christian,1290,5.0,"['5 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['5 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
26,26.0,Manhattan,Elegant Private Apartment in a Historic Browns...,Private room in townhouse,1080,Jacob,1040,5.0,"['4 guests', 'Studio', '2 beds', '1 private ba...","[""['4 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,,
27,27.0,Manhattan,Cozy Apartment Next To Central Park,Entire apartment,1500,Lenny,1030,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
28,28.0,Manhattan,"Manhattan, Room w/ 2 Beds Near Central Park &M...",Private room in house,990,Joo,1430,4.5,"['4 guests', '1 bedroom', '2 beds', '1 shared ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
29,29.0,Manhattan,Miltons place,Entire apartment,900,Milton,80,5.0,"['4 guests', 'Studio', '0 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '0 beds'"", "" '1...",[,"""",[,',,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,275.0,Manhattan,Unique Spacious 2BDR in NOLITA,Entire apartment,1920,Jay,1630,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['4 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
269,276.0,Manhattan,Artsy Harlem Guest Space,Entire guest suite,1250,Laura,2240,4.5,"['4 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '3 beds'"", "" '1...",[,"""",[,',,,
270,277.0,Manhattan,Beautiful APT in the HEART of Manhattan!!!!,Entire apartment,1420,Salvatore,2200,4.5,"['3 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[""['3 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,,
271,278.0,Manhattan,Lovely Deluxe Studio near Lincoln Center,Entire apartment,1910,Albar,2260,4.5,"['5 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['5 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
272,279.0,Manhattan,Gorgeous Renovated 1BR - close to Central Park,Entire apartment,1400,Kate,780,4.5,"['6 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['6 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
273,280.0,Manhattan,"Big 1st Meal, Kind Host, Ace Space",Private room in apartment,1340,Nancy,3140,4.5,"['3 guests', '2 bedrooms', '3 beds', '1 shared...","[""['3 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
274,281.0,Manhattan,UNBEATABLE LOCATION/TIMES SQUARE!,Entire apartment,2390,Leo,1370,4.5,"['4 guests', '2 bedrooms', '0 beds', '1 bath',...","[""['4 guests'"", "" '2 bedrooms'"", "" '0 beds'"", ...",[,"""",[,',,,
275,282.0,Manhattan,NYC Bedroom in Amazing Location!,Private room in apartment,1330,Sterling,1430,5.0,"['4 guests', '1 bedroom', '3 beds', '1 shared ...","[""['4 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
276,283.0,Manhattan,Full Floor Apt 3Br in Times Sq,Entire apartment,3780,Andrea,1600,4.5,"['6 guests', '3 bedrooms', '4 beds', '1 bath',...","[""['6 guests'"", "" '3 bedrooms'"", "" '4 beds'"", ...",[,"""",[,',,,
277,284.0,Manhattan,Sunny & Clean- Soho/west village loft,Entire apartment,1690,Candy,140,4.5,"['6 guests', '3 bedrooms', '3 beds', '1 bath',...","[""['6 guests'"", "" '3 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
278,285.0,Manhattan,[205] 5 min WALK to Times Square,Private room in apartment,2100,Yasu & Akiko,1750,4.5,"['4 guests', '1 bedroom', '2 beds', '1 private...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
279,286.0,Manhattan,NYC Top-Floor Mid-Town Apartment (new openings!),Private room in apartment,1900,Chuck,210,5.0,"['5 guests', '1 bedroom', '2 beds', '1 private...","[""['5 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
280,287.0,Manhattan,Upper East Chic 1BR Apartment Near Central Park,Entire apartment,1690,Song,300,4.5,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
281,288.0,Manhattan,Beautiful 1BR Apt near Time Square,Entire apartment,1800,Lance,480,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
282,289.0,Manhattan,Cute private space in an Awesome Location,Entire condominium,1800,Fred,1480,4.0,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,,
283,290.0,Manhattan,NYC Top-Floor Mid-Town Apartment (new openings!),Private room in apartment,1900,Chuck,210,5.0,"['5 guests', '1 bedroom', '2 beds', '1 private...","[""['5 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
284,291.0,Manhattan,Charming 1BR Apartment close to Time Square,Entire apartment,1700,Jose,1150,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
285,292.0,Manhattan,Pleasant UpperEastSide Townhouse Garden Studio,Entire house,1390,Kate,800,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
286,293.0,Manhattan,QUAINT HELL'S KITCHEN STUDIO!!!,Entire apartment,1690,Kevin,1590,4.5,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
287,294.0,Manhattan,Heart of the West,Entire apartment,1800,Ash,30,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[""['4 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
288,295.0,Manhattan,Sunny & Clean- Soho/west village loft,Entire apartment,1690,Candy,140,4.5,"['6 guests', '3 bedrooms', '3 beds', '1 bath',...","[""['6 guests'"", "" '3 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
289,296.0,Manhattan,Landmark 2 Bedroom West Village NYC,Entire apartment,2250,West Village,1430,4.5,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['4 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
290,297.0,Manhattan,East Village Bed & Breakfast - Subway 2 short ...,Private room in apartment,1240,Helen,1270,4.5,"['3 guests', '1 bedroom', '1 bed', '1 shared b...","[""['3 guests'"", "" '1 bedroom'"", "" '1 bed'"", "" ...",[,"""",[,',,,
291,298.0,Manhattan,Private Room w/a Patio In Center of Manhattan!,Private room in apartment,1250,Teresa,510,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
292,299.0,Manhattan,Modern 1 Bedroom Apt - Trendy & Historic Downtown,Entire apartment,2300,John,1450,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
293,300.0,Manhattan,Beautiful Upper East Side Apartment,Entire apartment,1500,Eli,1290,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
294,301.0,Manhattan,Entire 2 bdrm/2 bth UWS/RiversdePrk,Entire apartment,1860,Mike,690,4.5,"['4 guests', '2 bedrooms', '3 beds', '2 baths'...","[""['4 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
295,302.0,Manhattan,Stylish & Inviting Brownstone Apt,Entire apartment,1800,Jennifer And Kenneth,1090,5.0,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[""['4 guests'"", "" 'Studio'"", "" '2 beds'"", "" '1...",[,"""",[,',,,
296,303.0,Manhattan,One bedroom escape,Entire apartment,1300,Chuck,1040,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['3 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
297,305.0,Manhattan,Stylish & Spacious Apartment in Harlem Brownstone,Entire apartment,1470,Elisia,1030,4.5,"['6 guests', '2 bedrooms', '3 beds', '1 bath',...","[""['6 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,

In [26]:
airbnbdfClean = airbnbdf.dropna() #drop all NaN's

In [27]:
# cross verify

print(len(airbnbdfClean))
airbnbdfClean.isna().sum().sum() #check num of Nans

298

0

In [28]:
airbnbdfClean.loc[airbnbdfClean.price == ''] # these 2 rows have empty price, should be cleaned

Empty DataFrame
Columns: [Unnamed: 0, city, house_title, house_type, price, owner_name, no_of_reviews, rating, occupancy, occupancy_lst, no_of_guest, house_size, no_of_beds, no_of_baths, house, beds, bath]
Index: []

In [29]:
print(airbnbdfClean.shape) # check  shape before dropping 2 rows
airbnbdfClean = airbnbdfClean.drop([139,494], axis=0)
airbnbdfClean.shape # check  shape after dropping 2 rows

(298, 17)

KeyError: '[494] not found in axis'

In [30]:
#convert price to float
airbnbdfClean.price=airbnbdfClean.price.astype(float)

/Users/raqhaque/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [31]:
#convert no_of_reviews to float
airbnbdfClean.no_of_reviews=airbnbdfClean.no_of_reviews.astype(int)

In [32]:
#convert no_of_guest to float
airbnbdfClean.no_of_guest=airbnbdfClean.no_of_guest.astype(float)

ValueError: could not convert string to float: '['

In [33]:
#convert house to float
airbnbdfClean.house=airbnbdfClean.house.astype(float)

ValueError: could not convert string to float:

In [34]:
#convert house to float
airbnbdfClean.beds=airbnbdfClean.beds.astype(float)

ValueError: could not convert string to float:

In [ ]:
#convert house to float
airbnbdfClean.bath=airbnbdfClean.bath.astype(float)

In [35]:
airbnbdfClean.dtypes

Unnamed: 0       float64
city              object
house_title       object
house_type        object
price            float64
owner_name        object
no_of_reviews      int64
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest       object
house_size        object
no_of_beds        object
no_of_baths       object
house             object
beds              object
bath              object
dtype: object

In [36]:
airbnbdfClean.sample(5)

,Unnamed: 0,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
90,91.0,Manhattan,Best of SOHO Gorgeous 2 bedroom,Entire condominium,2750.0,Arne,3430,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[""['5 guests'"", "" '2 bedrooms'"", "" '2 beds'"", ...",[,"""",[,',,,
4,4.0,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,990.0,Theresa,1620,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,
273,280.0,Manhattan,"Big 1st Meal, Kind Host, Ace Space",Private room in apartment,1340.0,Nancy,3140,4.5,"['3 guests', '2 bedrooms', '3 beds', '1 shared...","[""['3 guests'"", "" '2 bedrooms'"", "" '3 beds'"", ...",[,"""",[,',,,
64,64.0,Manhattan,"Manhattan, Room w/3 Beds Near Metro & Central ...",Private room in apartment,950.0,Joo,1290,5.0,"['4 guests', '1 bedroom', '3 beds', '1 shared ...","[""['4 guests'"", "" '1 bedroom'"", "" '3 beds'"", ""...",[,"""",[,',,,
99,100.0,Manhattan,Home Sweet Harlem,Entire apartment,1300.0,Nykeisha,1010,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[""['4 guests'"", "" '1 bedroom'"", "" '2 beds'"", ""...",[,"""",[,',,,

In [37]:
# write the cleaned and massaged data to csv for future analysis

airbnbdfClean.to_csv('airbnbdfClean.csv')